/* MUST USE FLEXBOX AT LEAST ONCE */
:root {
  --background-color1: #000042;
  --background-color2: #545454;
  --accent-color1: #ff4162;
  --accent-color2: #9dfb1d;
  --accent-color3: #81b1ce;
  --text-color1: black;
  --text-color2: white;
  --header-height: 120px;
}

html {
  box-sizing: border-box;
  color: var(--background-color1);
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}

body {
  margin: 0;
}

#page-content {
  padding-top: var(--header-height);
}

#header {
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: var(--header-height);
  max-height: var(--header-height);
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  align-items: center;
  background-color: white;
  z-index: 1;
}

#shop-name {
  display: flex;
  align-items: center;
  margin-left: 10%;
  min-width: 300px;
}

#shop-name-link {
  color: var(--background-color1);
}

#shop-name-link:hover {
  color: var(--accent-color3);
}

#header-img {
  display: block;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: 0 auto;
}

/* navbar always on top */
#nav-bar {
  display: grid;
  grid-auto-columns: auto;
  align-items: center;
  margin-left: auto;
  margin-right: 10%;
  gap: 30px;
}

.nav-li {
  list-style-type: none;
  font-size: 20px;
}

.nav-li1 {
  grid-area: 1 / 1 / 2 / 2;
}

.nav-li2 {
  grid-area: 1 / 2 / 2 / 3;
}

.nav-li3 {
  grid-area: 1 / 3 / 2 / 4;
}

a {
  text-decoration: none;
}

.nav-link {
  font-size: 25px;
  color: var(--background-color1);
}

.nav-link:hover {
  color: var(--accent-color3);
}

.hero-img-div {
  width: 100vw;
}

#hero-img {
  display: block;
  width: 80vw;
  height: 70vh;
  object-fit: cover;
  margin: 30px auto;
}

#get-user-info {
  text-align: center;
  margin: 0 auto;
}

form {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 50px;
}

input[type="email"] {
  width: 400px;
  height: 40px;
  padding-top: 8px;
  border-radius: 5px;
  border: 2px solid var(--background-color1);
}

input[type="submit"] {
  width: 100px;
  height: 40px;
  font-size: 20px;
  background-color: var(--background-color1);
  color: var(--text-color2);
  border: none;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background-color: var(--accent-color3);
}

::placeholder {
  font-size: 20px;
  opacity: 0.5;
  color: var(--accent-color3);
}

#Why_Choose_Us {
  background-color: var(--background-color1);
  color: var(--text-color2);
  padding: 50px;
}

.icon-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 50px;
  margin: 50px auto;
  width: 70vw;
}

.icon-card {
  min-width: 350px;
  max-width: 350px;
}

.icon-and-title {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 25px;
}

.icon,
.icon-title {
  margin: 0;
}

.icon-description {
  font-size: 25px;
  letter-spacing: 1px;
  text-align: justify;
}

.section-title {
  text-align: center;
  font-size: 40px;
  margin: 10px 0 10px 0;
}

#video-container {
  width: 70%;
  margin: 100px auto;
}

.video-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#Products {
  display: flex;
  justify-content: center;
  column-gap: 70px;
  align-items: center;
  flex-wrap: wrap;
}

.product-thumbnail {
  background-color: white;
  border-radius: 20px;
  min-width: 400px;
  max-width: 400px;
  padding: 50px 0;
}

#product-title {
  text-align: center;
  font-size: 40px;
  margin: 0;
}

#product-desc {
  text-align: center;
  font-size: 25px;
  color: var(--background-color1);
}

#product-img {
  display: block;
  width: 400px;
  margin: 0 auto;
}

.purchase-btn {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 70px;
  font-size: 25px;
  background-color: var(--background-color1);
  color: var(--text-color2);
  border: none;
  border-radius: 10px;
}

.purchase-btn:hover {
  background-color: var(--accent-color3);
}

#footer {
  text-align: center;
  margin: 100px 0 0 0;
  padding: 30px;
  font-size: 20px;
  background-color: var(--background-color1);
}

#footer,
#social-media-link {
  color: var(--text-color2);
}

#social-media-link:hover {
  color: var(--accent-color3);
}

@media (max-width: 1200px) {
  #video-container {
    width: 80%;
  }
}

@media (max-width: 1050px) {
  #video-container {
    width: 80%;
  }

  #header-img {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
  }

  #header {
    display: flex;
    justify-content: center;
    align-items: unset;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 0;
  }

  #nav-bar {
    margin: 0;
  }

  #shop-name {
    margin: 0;
  }

  #get-user-info .section-title {
    font-size: 30px;
  }

  input[type="email"] {
    width: 300px;
  }
}

@media (max-width: 749px) {
  #get-user-info .section-title {
    font-size: 25px;
  }

  input[type="email"] {
    width: 200px;
  }

  input[type="submit"] {
    width: 80px;
  }
}

@media (max-width: 540px) {
  #get-user-info .section-title {
    font-size: 20px;
  }

  #hero-img {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    position: absolute;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    white-space: nowrap;
  }

  #get-user-info {
    margin: 100px 0;
  }
}
